h1 {
  color: darkred;
}
h2 {
  font-style: italic;
  color: red;
}
p {
  color: black;
}
body {
  background-color: white;
  font-family: sans-serif;
  text-align: center;
}

.intro {
  font-style: italic;
}

.author {
  color: red;
}
p.author {
  font-size: 12px;
}
.line1 {
color: red;
}
#line2 {
color: blue;
}
